@model Brygady2.Models.Works

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Works</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeWork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeWork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SettingBackup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SettingBackup.IdSettingBackup)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdWork">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
